.intro__screen {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #F9FBFD;

	&__inner {
		display: flex;
		justify-content: space-between; 
		align-items: center;
		padding-top: 25px;

		&__info {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			max-width: 70%;

			&__title {
				font-size: 42px;
				font-family: 'FuturaDemic', sans-serif;
				line-height: 1.15;
				color: #27282D;
				margin-bottom: 25px;
			}

			&__subtitle {
				line-height: 1.5;
				font-size: 22px;
				line-height: 32px;
				margin-bottom: 30px;
			}

			&__action {
				margin-bottom: 48px;
			}

			&__link {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				cursor: pointer;
				
				svg {
					margin-right: 5px;
				}

				span {
					font-weight: 500;
					font-size: 22px;
				}
			}
		}

		&__img {
			position: relative;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}
}

@media screen and (max-width: 800px) {
	.intro__screen {
		&__inner {
			padding-bottom: 20px;

			&__info {
				&__title {
					line-height: 1;
					font-size: 32px;
				}
				&__subtitle {
					line-height: 1.1;
					font-size: 20px;
				}
			}

			&__img {
				margin-bottom: -20px;
			}
		}
	}
}


@media screen and (max-width: 660px) {
	.intro__screen {
		&__inner {
			&__info {
				&__title {
					line-height: 1;
					font-size: 28px;
				}
				&__subtitle {
					line-height: 1.1;
					font-size: 18px;
				}
			}

		}
	}
}