@import 'common';
@import 'animations';
@import 'header';
@import 'intro-screen';
@import 'credit-calculator';


@font-face {
	font-family: 'FuturaDemiC';
	src: url(../assets/fonts/FuturaDemiC.eot);
	src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
		url(../assets/fonts/FuturaDemiC.eot?#iefix) format('embedded-opentype'),
		url(../assets/fonts/FuturaDemiC.woff) format('woff'),
		url(../assets/fonts/FuturaDemiC.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url(../assets/fonts/FuturaMediumC.eot);
	src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
		url(../assets/fonts/FuturaMediumC.eot?#iefix) format('embedded-opentype'),
		url(../assets/fonts/FuturaMediumC.woff) format('woff'),
		url(../assets/fonts/FuturaMediumC.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaLightC';
	src: url(../assets/fonts/FuturaLightC-Italic.eot);
	src: local('Futura Light Italic Cyrillic'), local('FuturaLightC-Italic'),
		url(../assets/fonts/FuturaLightC-Italic.eot?#iefix) format('embedded-opentype'),
		url(../assets/fonts/FuturaLightC-Italic.woff) format('woff'),
		url(../assets/fonts/FuturaLightC-Italic.ttf) format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url(../assets/fonts/FuturaMediumC-Italic.eot);
	src: local('Futura Medium Italic Cyrillic'), local('FuturaMediumC-Italic'),
		url(../assets/fonts/FuturaMediumC-Italic.eot?#iefix) format('embedded-opentype'),
		url(../assets/fonts/FuturaMediumC-Italic.woff) format('woff'),
		url(../assets/fonts/FuturaMediumC-Italic.ttf) format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaLightC';
	src: url(../assets/fonts/FuturaLightC.eot);
	src: local('Futura Light Cyrillic'), local('FuturaLightC'),
		url(../assets/fonts/FuturaLightC.eot?#iefix) format('embedded-opentype'),
		url(../assets/fonts/FuturaLightC.woff) format('woff'),
		url(../assets/fonts/FuturaLightC.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaDemiC';
	src: url(../assets/fonts/FuturaDemiC-Italic.eot);
	src: local('Futura Demi Italic Cyrillic'), local('FuturaDemiC-Italic'),
		url(../assets/fonts/FuturaDemiC-Italic.eot?#iefix) format('embedded-opentype'),
		url(../assets/fonts/FuturaDemiC-Italic.woff) format('woff'),
		url(../assets/fonts/FuturaDemiC-Italic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaBookC';
	src: url(../assets/fonts/FuturaBookC-Italic.eot);
	src: local('Futura Book Italic Cyrillic'), local('FuturaBookC-Italic'),
		url(../assets/fonts/FuturaBookC-Italic.eot?#iefix) format('embedded-opentype'),
		url(../assets/fonts/FuturaBookC-Italic.woff) format('woff'),
		url(../assets/fonts/FuturaBookC-Italic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaBookC';
	src: url(../assets/fonts/FuturaBookC.eot);
	src: local('Futura Book Cyrillic'), local('FuturaBookC'),
		url(../assets/fonts/FuturaBookC.eot?#iefix) format('embedded-opentype'),
		url(../assets/fonts/FuturaBookC.woff) format('woff'),
		url(../assets/fonts/FuturaBookC.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	max-width: 1920px;
	margin: 0 auto;
	font-family: 'FuturaBookC', sans-serif; 
}


#app {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}
